$primary: #1475bc;
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Cairo", sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #f5f5f5;
    direction: rtl;
    text-align: right;
    min-height: 100vh;
}
.btn {
    background-color: $primary;
    padding: 7px;
    color: white;
    border-radius: 7px;
    border: 1px solid $primary;
    cursor: pointer;
}
@import "login";
@import "dashboard";
